.footer{
    width: 80%;
    height: 8rem;
    background-color:var(--escuro);
}
/*=====================responsividade 400px===================*/
@media (max-width: 450px) {
    .footer{
        width: 100%;
    }   
}